@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Helvetica Neue LT Std", "helvetica", sans-serif;
    transition-property: all;
    transition-timing-function: cubic-bezier(.5,0,0,1);
    transition-duration: 500ms;
    max-width: 100vw;
    overflow-x: clip;
    scrollbar-width: none !important;
    overflow-y: auto;
}

body::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}
body::-webkit-scrollbar {
    width: 0 !important;  /* Remove scrollbar space */  /* Optional: just make scrollbar invisible */
}

.bump, .negative-bump{
    transition: transform 300ms ease-out;
}

.bump:active{
    transform: translateY(-8px);
}

.negative-bump:active{
    transform: translateY(8px);
}

@keyframes pos-y-wiggle {
    0% {
        transform: translateY(1px);
    }
    50% {
        transform: translateY(-1px);
    }
    100% {
        transform: translateY(1px);
    }
}
.bob-on-hover:hover {
    animation-name: pos-y-wiggle;
    animation-play-state: running;
}

.bob-always{

    animation: 1s infinite forwards pos-y-wiggle ease-out;
}

@keyframes pulse-scale {
    0% {
        transform: scale(1.01);
    }
    50% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1.01);
    }
}

.pulse-always{
    animation: 1.5s infinite forwards pulse-scale ease-out;
}


a{
    transition: color 600ms;
    cursor: pointer;
}

a:hover{
    color:black;
}

button{
    transition: background-color 600ms;
    cursor: pointer;
}

h1{
    font-size: 66px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 121.212% */
}

h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 64px; /* 128% */
}

h3{
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; 
}

h4{
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px; /* 135.714% */
}

h5{
   font-size: 1.5rem; 
   line-height: 1.5em;
}

h6{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 1px;
    text-transform: uppercase;
}

p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.label{
    font-family: "helvetica";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

button{
    cursor: pointer;
}

a{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height:1em;
    color:#424B5A;
}

@media only screen and (max-width:786px) {
    h1{
        font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 121.212% */
    }
    
    h2{
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
    }
    
    h3{
        font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    }
    
    h4{
        font-size: 2rem;
        line-height: 1.4em;
    }
    
    h5{
       font-size: 1.5rem; 
       line-height: 1.5em;
    }
    
    
    p{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }
    

    
    a{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px 0px 8.5px 0px;
}
}

/* svelte-select stylings*/
.indicators{
    display: none !important;
    opacity: 0 !important;
}

.svelte-select{
    border-radius: 3px !important;
    border: 1px solid #C2D1D9 !important;
    cursor: pointer !important;
}

.svelte-select-list{
    cursor: pointer !important;
}

.svelte-select input{
    cursor: pointer !important;
}

::placeholder{
    color: #C2D1D9 !important;
    
}

input[type='textarea']::placeholder{
    margin-top:0;
}

.multi-item-clear{
    cursor: pointer !important;
    transform: translateY(-0.5px);
    color: #424B5A !important;
    margin-left: 1em !important;
    filter: invert(25%) sepia(15%) saturate(703%) hue-rotate(178deg) brightness(99%) contrast(85%);
    transition: all 300ms cubic-bezier(.5,0,0,1);
}

.multi-item-clear:hover{
    opacity: .4;
}




.multi-item{
    margin-right: 3em !important;
    background-color: transparent !important;
    outline-color:#C2D1D9 !important;
}

.multi-item-text, .svelte-select-list{
    transform: translateY(1px);
    color: #424B5A !important;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 700 !important;
    /* 142.857% */
}

.filter-to-dark{
    filter: invert(25%) sepia(15%) saturate(703%) hue-rotate(178deg) brightness(99%) contrast(85%);
}